/* Design créé par Steber
Pour le projet zCoaching
Le 28/08/2011 */

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////       BACKGROUND        ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

html, body
{
	margin : 0px;
	padding : 0px;
}

html
{
	background-color : #fff;
	font-family : Trebuchet MS , sans-serif;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////    STRUCTURE GLOBALE    ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

#conteneur_1
{
	height : 144px;
}

#conteneur_2
{
	width : 100%;
	min-height:100%;
	margin : auto;
}

#corps
{
	width : 100%;
	background-color : #fff;
	color : #000000;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////        BANNIERE        ////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

#banniere
{
	height : 144px;
	background : url("images/banniere.png") top left;
	overflow : hidden;
	position : relative;
}

#logo
{
	width : 700px;
	position : relative;
	margin-left: 30px;
	margin-top: 30px;
}

#cadre_banniere
{
	width : 180px;
	height : 80px;
	padding : 10px;
	background : url("cadre_banniere.png");
	float : right;
	position : relative;
	right : 30px;
	top : 30px;
	font-size: 13px;
	text-align:center;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////          TEXTE          ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

#texte 
{
	padding : 20px;
	margin-left : 215px;
	text-align : justify;
	font-size : 16px;
}

#pres_accueil
{
   width:49%;
   border-radius: 10px; /* CSS 3 */
   -o-border-radius: 10px; /* Opera */   
   -icab-border-radius: 10px; /* iCab */
   -khtml-border-radius: 10px; /* Konqueror */   
   -moz-border-radius: 10px; /* Firefox */
   -webkit-border-radius: 10px; /* Safari */
   border: 2px solid #a1c2ff;
   background-color: #f6f6f6;
   
}

* html #pres_accueil
{
   width:49%;
   border: 2px solid #a1c2ff;
   background-color: #f6f6f6;
   
}

#pres_accueil h1
{
   font-size : 1em;
   color: #FFF;
   background:  url('images/bg_titre_box.png') repeat-x;
   border-radius-topleft: 10px;
   border-radius-topright: 10px;
   -o-border-radius-topleft: 10px;
   -o-border-radius-topright: 10px;
   -icab-border-radius-topleft: 10px;
   -icab-border-radius-topright: 10px;
   -khtml-border-radius-topleft: 10px;
   -khtml-border-radius-topright: 10px;
   -moz-border-radius-topleft: 10px;
   -moz-border-radius-topright: 10px;
   -webkit-border-top-left-radius: 10px;
   -webkit-border-top-right-radius: 10px;
   display: block;
   border: none;
   height: 18px;
   margin: 0;
   padding: 5px 14px;
}

* html #pres_accueil h1
{
   font-size : 1em;
   color: #FFF;
   background:  url('images/bg_titre_box.png') repeat-x;
   display: block;
   border: none;
   height: 18px;
   margin: 0;
   padding: 5px 14px;
}

#pres_accueil p
{
   padding:10px;
   font-size:14px;
} 

#pres_accueil ul
{
   font-family: Trebuchet MS;
   font-size:14px;
   padding:5px;
   list-style-type: none;
   margin-left:1em;
} 

#pres_accueil ul li
{
   background: none;
   padding-left:1em;
   padding-bottom:1em;
} 

p
{
	margin-top : 0px;
}

h1
{
	font-size : 19px;
	margin-top : 0px;
	color: #1597eb;
}

h2
{
	font-size : 16px;
	margin-top : 0px;
	margin-left:20px;
	color: grey;
}

h3
{
	font-size : 13.5px;
	margin-top : 0px;
	margin-left:20px;
	color: blue;
}
		
a
{
	color : #288de8;
	text-decoration : none;
}

a:hover
{
	color : #ff8000;
}

a img {
   border: 0;
}

a#particper_news
{
    display: block;
	background-image: url('participer1.png');
	text-decoration: none; 
}

a#particper_news:hover
{
    background-image: url('participer2.png')
}

ul
{
  list-style-type: none;
  padding: 0;
  margin-left: 2em;
}

li
{
  background-image: url('puce.png');
  background-repeat: no-repeat;
  background-position: 0 0.4em;
  padding-left: 1em;
}  

#overflow
{
	overflow : hidden;
}

#box_fiche
{
   background-color: #d5e1e7;
   padding: 10px;
   color:grey;
}

#pres_fiche
{
   border: 3px solid #d5e1e7;
   padding: 10px;
}

.image {float: left; margin: 0 6px 6px 0;}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////        TABLEAUX         ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

table#tab_accueil
{
   width: 49%;
   font-family: "Tahoma";
   font-size: 13.5px;
}

table#tab_accueil2
{
   width: 49%;
   font-family: "Tahoma";
   font-size: 13px;
   text-align:center;
}

#taille12
{
   font-size:12px;
}

#taille11
{
   font-size:11px;
}

td
{
   background-color: #f6f6f6;
   padding: 5px;
}

#blue_fond td
{
   background-color: #e9e9e9;
}

#blue_fond2 td
{
   background-color: #d5e1e7;
}

table#table_sondage
{
   width: 100%;
   font-family: "Tahoma";
   font-size: 13px;
   text-align:center;
}

#table_sondage th
{
   color: orange;
   background-color: white;
}

table#table_sorties
{
   width: 100%;
   font-family: "Tahoma";
   font-size: 13px;
   text-align:center;
   margin:0;
   padding:0;
}

#table_sorties tr
{
   text-align: left;
   font-size: 14px;
}

#table_sorties tr hr
{
   color: orange;
   background-color: orange;
   height: 1px;
   border: 0;
}

caption, #tab_accueil2 caption, #tab_accueil caption
{
   font-family : Trebuchet MS;
   text-transform: uppercase;
   font-weight: bold;
   color: orange;
   font-size:13.5px;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////     FORMULAIRES     /////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

.legend
{
   border-radius: 6px; /* CSS 3 */
   -o-border-radius: 6px; /* Opera */   
   -icab-border-radius: 6px; /* iCab */
   -khtml-border-radius: 6px; /* Konqueror */   
   -moz-border-radius: 6px; /* Firefox */
   -webkit-border-radius: 6px; /* Safari */
   padding-top: 0;
   padding-bottom: 0;
   padding-left: 9px;
   padding-right: 9px;
   color: #FFF;
   background-color: #a0cdd0;
   font-weight: bold;
   font-size: 12px;
}

.fieldset
{
   border: 2px solid #a0cdd0;
   border-radius: 9px; /* CSS 3 */
   -o-border-radius: 9px; /* Opera */   
   -icab-border-radius: 9px; /* iCab */
   -khtml-border-radius: 9px; /* Konqueror */   
   -moz-border-radius: 9px; /* Firefox */
   -webkit-border-radius: 9px; /* Safari */
   margin-bottom: 10px;
   background-color: #f7f7f7;
}

.label
{
   float:left;
   text-align:right;
   font-weight: normal;
   width: 180px;
   margin-right: 5px;
}

.checkbox
{
   margin-left:15%;
}

.input
{
   text-align:left;
   margin-left:20%;
   margin-right:-10%;
}

.select
{
   text-align:left;
   margin-left:20%;
   margin-right:-10%;
}

.select2
{
   text-align:right;
}

.formulaire
{
   line-height:2em;
   vertical-align:middle;
}

.centre
{
   text-align: center;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////     MENU HORIZONTAL     ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

#MH
{
	height : 35px;
	background : url("images/MH.png");
	text-align : left;
	margin : 0;
	padding : 0;
}

#MH ul
{
	list-style-type: none;
	margin:0;
	padding:0;
}

#MH li
{
	display : inline;
	background: none;
	margin:0;
	padding:0;
}

#MH a
{
	height : 27px;
	color : #FFFFFF;
	font-size : 14px;
	font-weight : bold;
	text-decoration : none;
	padding-left : 20px;
	padding-right : 20px;
	padding-top : 8px;
	display : inline-block;
	margin : 0;
}

#MH a:hover
{
	color : #fff;
	background : url("images/MH_hover.png");
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////     MENU VERTICAL     ////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

#MV
{
   width:200px;
   float : left;
   border-radius: 10px; /* CSS 3 */
   -o-border-radius: 10px; /* Opera */   
   -icab-border-radius: 10px; /* iCab */
   -khtml-border-radius: 10px; /* Konqueror */   
   -moz-border-radius: 10px; /* Firefox */
   -webkit-border-radius: 10px; /* Safari */
   border: 2px solid #a1c2ff;
   background-color: #f6f6f6;
   margin-top : 20px;
   margin-left : 6px;
   
}

* html #MV
{
   width:200px;
   float : left;
   border: 2px solid #a1c2ff;
   background-color: #f6f6f6;
   margin-top : 20px;
   margin-left : 6px;
}

.marge_MV
{
	height : 20px;
}

.en_tete_MV
{
   height : 24px;
   font-size : 1em;
   color : #FAFAFA;
   background:  url('images/bg_titre_box.png') repeat-x;
   border-radius-topleft: 10px;
   border-radius-topright: 10px;
   -o-border-radius-topleft: 10px;
   -o-border-radius-topright: 10px;
   -icab-border-radius-topleft: 10px;
   -icab-border-radius-topright: 10px;
   -khtml-border-radius-topleft: 10px;
   -khtml-border-radius-topright: 10px;
   -moz-border-radius-topleft: 10px;
   -moz-border-radius-topright: 10px;
   -webkit-border-top-left-radius: 10px;
   -webkit-border-top-right-radius: 10px;
   display: block;
   border: none;
   height: 18px;
   margin: 0;
   padding:3px;
   padding-bottom:5px;
   padding-left:10px;
}

* html .en_tete_MV
{
   font-size : 1em;
   color : #FAFAFA;
   background:  url('images/bg_titre_box.png') repeat-x;
   display: block;
   border: none;
   height: 18px;
   margin: 0;
   padding-top : 3px;
   padding:3px;
   padding-bottom:5px;
}

a.lien_MV
{
	width : 200px;
	height : 25px;
	background : url("bouton_MV.png") no-repeat;
	margin : auto;
	color : #2677C9;
	font-size : 14px;
	padding-left:25px;
	font-weight : bold;
	text-decoration : none;
	display : block;
}

a.lien_MV:hover
{
	color : #0056ae;
	font-weight : bold;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////       BAS DE PAGE       ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

#pied_de_page
{
	height : 100px;
	background : #003d64 url("images/pied.png") repeat-x;
	position:relative;
	bottom:0;
	text-align : center;
	color : #FFFFFF;
	padding-top:50px;
	padding-bottom:0;
	margin:0;
}

#clear_both
{
	clear : both;
}